.navigation {
  height: $nav-height;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: $nav-bg-color;
  color: $nav-fg-color;

  /* Set to a high z-index so math goes under instead of over */
  z-index: 100;

  a,
  span {
    display: inline;
    font-size: 1.7rem;
    font-family: $font-family;
    font-weight: 600;
    line-height: 6rem;
    color: $nav-fg-color;
  }

  a {

    &:hover,
    &:focus {
      color: $nav-link-color;
    }
  }

  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: inline-block;
    height: 100%;
  }

  .navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;

    @media only screen and (max-width: $narrow-screen) {
      position: absolute;
      top: 6rem;
      right: 0;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      max-height: 0;
      width: 100%;
      background-color: $nav-bg-color;
      border-top: solid 2px $alt-bg-color;
      border-bottom: solid 2px $alt-bg-color;
      transition: opacity 0.25s, max-height 0.15s linear;
    }

    .navigation-item {
      float: left;
      margin: 0;
      position: relative;

      @media only screen and (max-width: $narrow-screen) {
        float: none !important;
        text-align: center;

        &.social {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
        a,
        span {
          line-height: 5rem;
          width: 100%
        }
      }

      a,
      span {
        display: inline-block;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &.navigation-item-active {
        background-color: $nav-active-bg-color;
      }

      svg {
        height: 2.5rem;
        width: 2.5rem;
        vertical-align: -10%;
      }
    }

    .separator {
      @media only screen and (max-width: $narrow-screen) {
        display: none;
      }
    }

    .menu-separator {
      @media only screen and (max-width: $narrow-screen) {
        border-top: 2px solid $fg-color;
        margin: 0 8rem;

        span {
          display: none;
        }
      }
    }
  }

  #dark-mode-toggle {
    margin: 1.7rem 0;
    font-size: 2.4rem;
    line-height: inherit;
    bottom: 2rem;
    left: 2rem;
    z-index: 100;
    position: fixed;
  }

  #menu-toggle {
    display: none;

    @media only screen and (max-width: $narrow-screen) {
      &:checked+label>i {
        color: $nav-fg-color;
        &:hover, &:focus {
          color: $nav-link-color;
        }
        &::before {
          /* Change icon to a close icon */
          content: "\f00d";
        }
      }

      &:checked+label+ul {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
        text-align: center;
      }
    }
  }

  .menu-button {
    display: none;

    @media only screen and (max-width: $narrow-screen) {
      display: block;
      margin: 1.8rem 0;
      font-size: 2.4rem;
      font-weight: 400;
    }

    i {

      &:hover,
      &:focus {
        color: $nav-link-color;
      }
    }
  }
}
