@mixin navigation_dark {
  .navigation {
    background-color: $nav-bg-color-dark;

    a,
    span {
      color: $nav-fg-color-dark;
    }

    a {

      &:hover,
      &:focus {
        color: $nav-link-color-dark;
      }
    }

    .navigation-list {
      @media only screen and (max-width: $narrow-screen) {
        background-color: $nav-bg-color-dark;
        border-top: solid 2px $alt-bg-color-dark;
        border-bottom: solid 2px $alt-bg-color-dark;
      }

      .navigation-item {
        &.navigation-item-active {
          background-color: $nav-active-bg-color-dark;
        }
      }

      .menu-separator {
        @media only screen and (max-width: $narrow-screen) {
          border-top: 2px solid $fg-color-dark;
        }
      }
    }

    #menu-toggle {
      @media only screen and (max-width: $narrow-screen) {
        &:checked+label>i {
          color: $nav-fg-color-dark;
          &:hover, &:focus {
            color: $nav-link-color-dark;
          }
        }
      }
    }

    .menu-button {
      i {

        &:hover,
        &:focus {
          color: $nav-link-color-dark;
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include navigation_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include navigation_dark();
  }
}
